name: Deploy CloudFormation

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::187510174259:role/agent_github_role
          aws-region: us-east-1

      - name: Deploy CloudFormation Stack1
        run: |
          aws cloudformation deploy \
            --template-file template.yaml \
            --stack-name ai-cloud-stack \
            --capabilities CAPABILITY_NAMED_IAM